<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../partial/head %>
        <title>Customer Relationship System</title>
    </head>

    <style>
        img {
            height: 10%;
            width:10%;
            /* object-fit:cover; */
        }
        body {
            background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
        }
        /* .height-transition {
            -webkit-transition: max-height 0.5s ease-in-out;
            -moz-transition: max-height 0.5s ease-in-out;
            -o-transition: max-height 0.5s ease-in-out;
            transition: max-height 0.5s ease-in-out;
            overflow-y: hidden;
        }
        .height-transition-hidden {
            max-height: 0;
        } */
    </style>

    <body>
        <%- include('../partial/navigation', {title: "features"}) %>
        <div class="jumbotron">
            <h1 class="display-4">Features</h1>
            <h3>The dashboard</h3>
            <img src="/public/dashboard.jpg" alt="dashboard" style="hright:50%;width:50%;">
            <p class="lead">
                A customizable panel which provides you sufficient statistics for business analysis:
                <ul class="lead">
                    <li>
                        Sales Report
                        <ul>
                            <li>Annually</li>
                            <li>Monthly</li>
                            <li>Weekly</li>
                        </ul>
                    </li>
                    <li>
                        Revenue Report
                        <ul>
                            <li>Annually</li>
                            <li>Monthly</li>
                            <li>Weekly</li>
                        </ul>
                    </li>
                    <li>
                        Expenses Reduction
                        <ul>
                            <li>Variable Costs</li>
                            <li>Fixed Costs</li>
                            <li>Direct Costs</li>
                            <li>Indirect Costs</li>
                        </ul>
                    </li>
                    <li>
                        Profit Maximization
                        <ul>
                            <li>Operating Profit Margin</li>
                            <li>Gross Profit Margin</li>
                        </ul>
                    </li>
                    <li>
                        Other Strategies
                        <ul>
                            <li>ROCE</li>
                            <li>Break-Even Analysis</li>
                            <li>Ratio Analysis</li>
                        </ul>
                    </li>
                </ul>
                <span class="display-4">and there are a lot more waiting for you to discover, <a href="/login">login</a> to find them out!</span>
            </p>
        </div>
        <% include ../partial/footer %>
    </body>
</html>
