<!DOCTYPE html5>
<html lang="en">
<head>
    <% include ../partial/head %>
<title>Page Title</title>
</head>
<body>
    <% include ../partial/navigation %>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

</body>
<script>
    $(document).ready(function(){
        $("p").click(function(){
            $(this).hide();
        });
    });
</script>
</html>
