<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head %>
    <title>Customer Relationship System</title>
</head>

<style>
    img {
        height: 10%;
        width:10%;
        /* object-fit:cover; */
    }
    body {
        background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
    }
    /* .height-transition {
        -webkit-transition: max-height 0.5s ease-in-out;
        -moz-transition: max-height 0.5s ease-in-out;
        -o-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
        overflow-y: hidden;
    }
    .height-transition-hidden {
        max-height: 0;
    } */
</style>


<body>
    <%- include('../partial/navigation', {title: "home"}) %>
    <!--  if (logged)  -->
    <div class="jumbotron">
      <h1 class="display-3">We manage customer data for you.</h1>
      <p class="lead">We value your customers as much as you do, in a detailed, productive way.</p>
      <hr class="my-4">
      <p>Scope is a customer relationship management (CRM) system that collects raw data from customers and transform them into useful information for future business decisions.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
      <h1>This is a Heading</h1>
      <p>This is a paragraph.</p>
      <img src="/public/SCOPE.png" class="navbar-brand" href="/" alt="SCOPE"></img>
    </div>
    <% include ../partial/footer %>
</body>

<script>
    // $(document).ready(function(){
    //     $("p").click(function(){
    //         $(this).hide();
    //     });
    // });
</script>

</html>
