<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partial/head %>
    <title>Login Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<style>
body {
    background-image: url('data:image/svg+xml,%3Csvg width="52" height="26" viewBox="0 0 52 26" xmlns="http://www.w3.org/2000/svg"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cg fill="%239C92AC" fill-opacity="0.4"%3E%3Cpath d="M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z" /%3E%3C/g%3E%3C/g%3E%3C/svg%3E');
}
</style>
    <body>
        <div class="jumbotron">
                <div class="alert alert-dismissible alert-success" style="display:none;" id="success-message">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Now you are set!</strong> You have successfully registered, login now!
                </div>
                <div class="alert alert-dismissible alert-danger" style="display:none;" id="error-message">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh no!</strong> Your username or passowrd is incorrect, please try again.
                </div>
                <div class="alert alert-dismissible alert-danger" style="display:none;" id="login-required">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Sorry!</strong> Only registered users could have access to these contents, please login your account or sign up for one.
                </div>
        <!-- <h1 class="display-5">Login Page</h1> -->
            <form action="/user-login" method="post" form_signature="15652032749810445774">
                    <h1 class="display-4">Login Page</h1>
                    <div class="form-group">
                        <label for="email">Your username</label>
                        <input type="email" name="username" class="form-control" id="email" placeholder="Please enter your email here">
                    </div>
                    <div class="form-group">
                        <label for="password">Your password</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Please enter your password here">
                    </div>
                    <button type="reset" class="btn btn-primary">Reset</button>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <button type="button" class="btn btn-primary" onclick="location.href = '/'">Back</button>
            </form>
        </div>


        <script>
            var url = new URL(window.location.href);
            var status = url.searchParams.get("status");
            var wrongUsernamePassword = url.searchParams.get("wrongUsernamePassword");
            var login = url.searchParams.get("login");
            var usernameNull = url.searchParams.get("usernameNull");
            var passwordNull = url.searchParams.get("passwordNull");
            // console.log("status = " + status);
            // console.log("wrongUsernamePassword = " + wrongUsernamePassword);

            if (url.searchParams.get("status") && status != "null") {
                $('#success-message').css("display", "block");
                // console.log(typeof(status));
            }
            else {
                $('#success-message').css("display", "none");
            };
            if ((wrongUsernamePassword && wrongUsernamePassword != "null") || usernameNull == "true" || passwordNull == "true") {
                $("#error-message").css("display", "block");
            }
            else {
                $("#error-message").css("display", "none");
            };
            if(login == "false") {
            $("#login-required").css("display", "block")
            }
            else {
                $("#login-required").css("display", "none");
            };
        </script>
    </body>
</html>
